@page "/allapis"
@inject HttpClient Http

<div class="text-center">
    <h1 class="mx-4">All available APIS</h1>
    <h3 class="mx-4 text-muted">May take some time to load</h3>
</div>
@if (alldata != null)

    {
<div class="row mx-4 mx-lg-5">

    <div class="col-2">
        <h3>Categories</h3>
        @if (isCategorySpecified == true)
        {
            <button class="btn btn-info m-1" @onclick="ResetAPIs" >View All</button>
        }
        @foreach (String Cat in Categories)
        {
            <button class="btn btn-success m-1" @onclick="@(e => GetSelectedCategory(Cat))">@Cat</button>
        }
    </div>

    <div class="col-10">
        @if (isCategorySpecified == false)
        {
            @foreach (Entry item in apis)
            {
        <div class="card m-4">
            <div class="card-header">
                <h2 class="card-title">@item.API</h2>
                <h3 class="text-muted">@item.Category</h3>
            </div>
            <div class="card-body">
                <p class="card-text">@item.Description</p>

                <hr />

                <div class="row">
                    <div class="col-sm-8">
                        <p class="font-weight-bold">HTTPS:</p>
                    </div>



                    <div class="col-sm-4">
                        @if (item.HTTPS == true)
                        {
                            <span class="oi oi-check"></span>
                        }
                        @if (item.HTTPS == false)
                        {
                            <span class="oi oi-x"></span>
                        }
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-8">
                        <p class="font-weight-bold">CORS:</p>
                    </div>



                    <div class="col-sm-4">
                        @if (item.Cors == "yes")
                        {
                            <span class="oi oi-check"></span>
                        }
                        @if (item.Cors == "no")
                        {
                            <span class="oi oi-x"></span>
                        }
                        @if (item.Cors == "unknown")
                        {
                            <span class="oi oi-question-mark"></span>
                        }
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-8">
                        <p class="font-weight-bold">Authorisation:</p>
                    </div>



                    <div class="col-sm-4">
                        @if (item.Auth == "apiKey")
                        {
                            <p>API Key</p>
                        }
                        @if (item.Auth == "OAuth")
                        {
                            <p>OAuth</p>
                        }
                        @if (item.Auth == "")
                        {
                            <p>None</p>
                        }
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <a href=@item.Link target="_blank">
                    <button class="btn btn-success">

                        View
                    </button>
                </a>
            </div>
        </div>
            }
        }

        @if (isCategorySpecified == true)
        {
            @foreach (Entry item in apis)
            {
    <div class="card m-4">
        <div class="card-header">
            <h2 class="card-title">@item.API</h2>
            <h3 class="text-muted">@item.Category</h3>
        </div>
        <div class="card-body">
            <p class="card-text">@item.Description</p>

            <hr />

            <div class="row">
                <div class="col-sm-8">
                    <p class="font-weight-bold">HTTPS:</p>
                </div>



                <div class="col-sm-4">
                    @if (item.HTTPS == true)
                    {
                        <span class="oi oi-check"></span>
                    }
                    @if (item.HTTPS == false)
                    {
                        <span class="oi oi-x"></span>
                    }
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-8">
                    <p class="font-weight-bold">CORS:</p>
                </div>



                <div class="col-sm-4">
                    @if (item.Cors == "yes")
                    {
                        <span class="oi oi-check"></span>
                    }
                    @if (item.Cors == "no")
                    {
                        <span class="oi oi-x"></span>
                    }
                    @if (item.Cors == "unknown")
                    {
                        <span class="oi oi-question-mark"></span>
                    }
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-8">
                    <p class="font-weight-bold">Authorisation:</p>
                </div>



                <div class="col-sm-4">
                    @if (item.Auth == "apiKey")
                    {
                        <p>API Key</p>
                    }
                    @if (item.Auth == "OAuth")
                    {
                        <p>OAuth</p>
                    }
                    @if (item.Auth == "")
                    {
                        <p>None</p>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href=@item.Link target="_blank">
                <button class="btn btn-success">
                    View
                </button>
            </a>
        </div>

    </div>
            }
        }
    </div>

    

</div>
    
  
}



@code {
    private Root alldata;
    List<String> Categories = new List<String>();
    List<Entry> apis = new List<Entry>();
    List<Entry> SelectedCategories = new List<Entry>();

    bool isCategorySpecified = false;


    protected override async Task OnInitializedAsync()
    {
        isCategorySpecified = false;
        try
        {
            alldata = await Http.GetFromJsonAsync<Root>("https://api.publicapis.org/entries");

            Console.WriteLine(alldata.count);

            foreach (Entry item in alldata.entries)
            {
                if (!Categories.Contains(item.Category))
                {
                    Categories.Add(item.Category);
                }

                apis.Add(item);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);

        }
    }

    public void ResetAPIs()
    {
        apis.Clear();
        foreach (Entry item in alldata.entries)
        {
            apis.Add(item);
        }
    }

    public void GetSelectedCategory(String Category)
    {
        apis.Clear();
        isCategorySpecified = true;

        foreach (Entry item in alldata.entries)
        {
            if(item.Category == Category)
            {
                apis.Add(item);
            }
        }
    }

    public class Entry
    {
        public string API { get; set; }
        public string Description { get; set; }
        public string Auth { get; set; }
        public bool HTTPS { get; set; }
        public string Cors { get; set; }
        public string Link { get; set; }
        public string Category { get; set; }
    }

    public class Root
    {
        public int count { get; set; }
        public List<Entry> entries { get; set; }
    }

    void OnChange(object value, string name)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;

        Console.WriteLine($"{name} value changed to {str}");
    }
}
